/*  app:  main/static/main.css
layout.html
messaging.html
*/

body {
    background: #cccccc;
}

.log_in_link,
.log_in_link:hover,
.log_in_link:visited {
    display: block;
    text-align: right;
    float: right;
    margin: 0.5rem 0.2rem 0 0;
    font-weight: 360;
    color: #aaaaaa;
    text-decoration: none;
}

.header-logo {
    height: auto;
    overflow: auto;
    padding: 0;
    background: #00254d;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
}


/* header ID form at 'index.html' with GET button */

.header-logo form {
    margin-top: 0.75rem;
    float: left;
    width: 15rem;
    position: relative;
}

.identifier_input {
    padding: 0 0.3rem;
    width: 12rem;
    height: 2.1rem;
    float: left;
}

.header-logo button {
    float: right;
    height: 2.1rem;
}

.error_message {
    position: absolute;
    color: red;
    font-size: 0.85rem;
    width: 12rem;
    top: 0.35rem;
    float: right;
    text-align: right;
}

.header-slogan {
    background: #00254d;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 0.6rem 0 0.4rem 0;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(51, 51, 51, 0.6);
}

.header-container{
    margin: 0 auto;
    padding:0;
    text-align: center;
    width: 80%;
}


/* Using the logotype as a text and link to the home page - LOGO */

.logo_link_to_index {
    font-size: 2.1rem;
    font-weight: 520;
    float: left;
    margin: 0 1rem 0.2rem 0;
    padding: 0;
    text-decoration: none;
    color: #eeeeee;
}

.logo_link_to_index:hover,
.logo_link_to_index:visited {
    color: #eeeeee;
}

a.logo_link_to_index.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

h1 {
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 0.06rem;
    font-size: 1rem;
    font-weight: 360;
    color: #aaaaaa;
}

nav {
    margin: 0.8rem auto;
    padding: 0;
    width: 80%;
    text-align: left;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 80%;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(51, 51, 51, 0.2);
}

/* Placeholder div for temporary content in index.html */
.project_description {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 10rem;
    text-align: left;
}


/* Styles for disabled links from the layout footer, with higher priority than Bootstrap5 */

.nav-item a.nav-link.disabled {
    /* opacity: 0.5 !important;  */
    pointer-events: none !important;
    cursor: not-allowed !important;
    color: #ffffff !important;
}


/* footer Bootstrap5 */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
}
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


/*  messaging alert  for 'messaging.html' Bootstrap5 styles extensions  */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert li {
    list-style: none; !important;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-dismissible {
  padding-right: 35px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  filter: alpha(opacity=50);
  text-decoration: none;
}

.close:focus, .close:hover, .close a, aria-label {
  text-decoration: none;
}
