/*  app:  users/static/register.css  */


/*  register.html --- form for New Users */

.register_new_user_field {
    text-align: center;
    width: 90%;
    height: auto;
    overflow: auto;
}

.register_new_user_field_shield {
    padding-top: 0.5rem;
    text-align: center;
    width: 30rem;
    margin: 0 auto;
}

.register_new_user_field label,
.register_new_user_field input {
    margin: 1.6rem 0 0 0;
    display: block;
    width: 90%;
    height: 2.3rem;
}

.label_form {
    margin: 0;
    padding: 0.4rem 1.4rem 0 0;
    width: 13rem;
    text-align: right;
    float: left;
}

.input_form {
    margin:0;
    width: 15rem;
    float: left;
}

.recaptcha_line {
    display: table;
    width: 100%;
    padding-left: 35%;
}

/* Temporary centering for layout adjustments -- for login and register */
.privacy_notice,
.register_button_area,
.register_other_info,
.password_recovery {
    display: table;
    margin: 1rem auto 1.8rem auto;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #888888;
}

.reg_log_btn {
    display: table;
    margin: 1.5rem auto 2rem auto;
    text-align: center;
    width: 12rem;
}

