{% extends 'main/layout.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'protocol/css/forms.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'protocol/js/forms.js' %}"></script>
{% endblock %}

{% block header-logo %}
    <p>
        <script>
            protocol_generated_id_js();
        </script>
    </p>
{% endblock %}

{% block content %}
    <form id="create_protocol_form" method="post">
        {% csrf_token %}
        <button type="button" id="addRowBtn" class="btn btn-primary">Add new fields</button>
        <br />
        <br />
        <div class="basic_protocol_fields">
            {{ form.title }}

            <table>
                <tr id="row-template">
                    <td class="td_no">
                        {{ form.no }}
                    </td>
                    <td class="td_item">
                        {{ form.item }}
                    </td>
                    <td class="td_last_3">
                        {{ form.responsible }}
                    </td>
                    <td class="td_last_3">
                        {{ form.deadline }}
                    </td>
                    <td class="td_last_3">
                        {{ form.status }}
                    </td>
                </tr>
            </table>
            {{ form.notes }}
        </div>
    </form>

    <div id="protocol_generated_id" class="protocol_id_watermark">
        www.protocoller.org&nbsp;
        <script>
                protocol_generated_id_js();
        </script>
    </div>

    <div class="handling_events_with_protocol">
         <form method="post">
            {% csrf_token %}
            <button type="submit" id="save_protocol" class="btn btn-outline-success" form="create_protocol_form">
                Save to database
            </button>
         </form>
         <a href="{{ pdf_url }}" download id="download_protocol_link">Download PDF</a>
    </div>

{% endblock %}






