{% extends 'main/layout.html' %}
{% load static %}

{% block header-logo %}
    <script src="{% static 'protocol/js/forms.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <p>ID 003.04.14.0005</p>
{% endblock %}

{% block content %}

<form id="create_protocol_form" method="post">
    {% csrf_token %}
    <button type="button" id="addRowBtn" class="btn btn-primary">Add new fields</button>

    <div class="basic_protocol_fields">
        {{ form.title }}

        <table>
            <tr id="row-template">
                <td class="td_no">
                    {{ form.no }}
                </td>
                <td class="td_item">
                    {{ form.item }}
                </td>
                <td class="td_last_3">
                    {{ form.responsible }}
                </td>
                <td class="td_last_3">
                    {{ form.deadline }}
                </td>
                <td class="td_last_3">
                    {{ form.status }}
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    {{ form.notes }}
                </td>
            </tr>
        </table>
    </div>
    <br />
    <button type="submit" id="save-protocol" class="btn btn-outline-success">Save to database</button>
</form>

{% endblock %}

<script src="{% static 'protocol/js/forms.js' %}"></script>