{% extends 'main/layout.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block header-logo %}
{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h1>About an educational and applied project aimed at creating an interactive website</h1>
        </div>
    </div>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="register_new_user_field">
        <form method="POST">
            {% csrf_token %}

            <div class="register_new_user_field_shield">
                <div class="label_form">
                    {{ form.username.label_tag }}
                    {{ form.password.label_tag }}
                </div>

                <div class="input_form">
                    {{ form.username }}
                    {{ form.password }}
                </div>
            </div>

            <p><a href="#">Password Recovery</a></p>

            <div class="register_button_area">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>

        </form>

        <div class="register_other_info">
            <a class="ml-2" href="{% url 'register' %}">Create an account</a>
        </div>
    </div>
{% endblock %}




