{% extends 'main/layout.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block header-logo %}
{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h1>About an educational and applied project aimed at creating an interactive website</h1>
        </div>
    </div>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <form method="POST">
        <table class="register_new_user_field">
            <tr>
                <td colspan="3">
                    {% csrf_token %}
                    <div class="register_new_user_field_shield">
                        <div class="label_form">
                            {{ form.username.label_tag }}
                            {{ form.password.label_tag }}
                        </div>
                        <div class="input_form">
                            {{ form.username }}
                            {{ form.password }}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <a href="#" class="password_recovery">Password Recovery</a>
                </td>
            </tr>
            <tr>
                <td width="40%">
                </td>
                <td width="60%" colspan="2">
                    {{ form.captcha }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-success loginbtn" type="submit">Login</button>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="2">
                    <p class="create_account_suggestion">
                        Don't have an account yet? <a  href="{% url 'register' %}">Create an account</a>
                    </p>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}




