{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block h1 %}
    Protocol
{% endblock %}

{% block header-logo %}

{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h2>Register an account and save documents in your personal cabinet</h2>
        </div>
    </div>
{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}" class="btn btn-success">Home</a>
{% endblock %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

            </fieldset>

            By registering, you accept the Terms of Service and Privacy Notice

                <br/>
                <br/>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register now</button>
            </div>
        </form>

                <br/>
                <br/>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already registered to Protocol? <a class="ml-2" href="/login">Log In</a>
            </small>
        </div>
    </div>
{% endblock %}

