{% extends 'main/layout.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block h1 %}
    <a href="{% url 'index' %}" class="logo_link_to_index">Protocol</a>
{% endblock %}

{% block header-logo %}

{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h2>Register an account and save documents in your personal cabinet</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="register_new_user_field">
        <form method="POST">
            {% csrf_token %}

            <div class="register_new_user_field_shield">
                <div class="label_form">
                    {{ form.first_name.label_tag }}
                    {{ form.last_name.label_tag }}
                    {{ form.username.label_tag }}
                    {{ form.email.label_tag }}
                    {{ form.password1.label_tag }}
                    {{ form.password2.label_tag }}
                </div>

                <div class="input_form">
                    {{ form.first_name }}
                    {{ form.last_name }}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                </div>
            </div>

            <p>By registering, you accept the Terms of Service and Privacy Notice</p>

            <div class="register_button_area">
                <button class="btn btn-outline-info" type="submit">Register now</button>
            </div>

        </form>

        <div class="register_other_info">
            Already registered to Protocol? <a class="ml-2" href="/login">Log In</a>
        </div>

    </div>

{% endblock %}

