{% extends 'main/layout.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block header-logo %}
{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h1>Register an account and save documents in your personal cabinet</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="register_new_user_field">
            {% csrf_token %}
            <div class="register_new_user_field_shield">
                <div class="label_form">
                    {{ form.first_name.label_tag }}
                    {{ form.last_name.label_tag }}
                    {{ form.username.label_tag }}
                    {{ form.email.label_tag }}
                    {{ form.password1.label_tag }}
                    {{ form.password2.label_tag }}
                </div>
                <div class="input_form">
                    {{ form.first_name }}
                    {{ form.last_name }}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                </div>
            </div>
        </div>
        <div class="privacy_notice">
            By clicking Create Account, you agree to the
            <a  href="#">Terms of Use</a>
            and <a href="#"> Privacy Policy</a>
        </div>
        <div class="recaptcha_line">
            {{ form.captcha }}
        </div>
        <button class="btn btn-secondary reg_log_btn" type="submit">Register now</button>
    </form>
    <div class="register_other_info">
        Already registered to Protocol? <a class="ml-2" href="{% url 'login' %}">Log In</a>
    </div>

{% endblock %}

