{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header-logo %}
{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h1>About an educational and applied project aimed at creating an interactive website</h1>
        </div>
    </div>
{% endblock %}

{% block nav %}
    {% include 'main/includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="project_description">
        <br/>
        <h3>About page “Under Construction”</h3>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales molestie volutpat.
        Quisque vehicula, est sit amet pharetra condimentum, nibh leo lacinia justo, non aliquet metus nunc non tortor.
        Aenean vel ante elementum, volutpat eros a, molestie nibh.
        Duis lobortis nisl vitae libero mattis aliquam. Sed non leo eu nulla eleifend porta ac eget nulla.
        Phasellus sagittis diam in sapien imperdiet congue. Cras eu nunc ut lacus aliquam rutrum. Sed id fermentum ipsum. Aenean gravida urna sit amet libero auctor rutrum. Duis posuere nibh nec ligula blandit, nec porttitor nisl molestie. Duis sed sapien vel metus sodales malesuada posuere non purus.
        <br/>
        <br/>
        Mauris sollicitudin justo eget lectus fringilla condimentum quis ut sapien.
        Praesent euismod, nulla sed mattis hendrerit, massa nisi volutpat velit,
        sit amet gravida metus ipsum eu ante. Quisque a dui massa.
        Etiam non tellus eu tortor auctor venenatis vel quis urna.
        Proin id erat ut sapien venenatis suscipit quis et velit.
        Maecenas pulvinar ligula eu dui interdum, sit amet elementum ligula elementum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br/>
        <br/>
        Integer neque lorem, posuere sed nunc nec, mollis interdum eros.
        Morbi varius nisi id ullamcorper hendrerit. Mauris aliquet ultrices viverra.
        Nullam condimentum velit ut sem placerat, a condimentum justo cursus.
        Morbi vulputate, dui id interdum egestas, ligula tortor congue nunc, ac fermentum nibh tortor at nunc.
        Proin sit amet imperdiet tortor, quis placerat nunc.
        Donec leo justo, condimentum id iaculis et, egestas eget mi. Pellentesque dignissim porttitor leo sit amet eleifend. Maecenas libero sapien, lobortis vitae neque et, dignissim porta purus.
        Aenean ornare ultricies odio nec elementum. Suspendisse in ipsum purus.

    </div>
{% endblock %}

