{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header-logo %}
    <form method="post">
        {% csrf_token %}
        {{ form.identifier }}
        <button class="btn btn-secondary btn-sm" type="submit">Get</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}

{% block header-slogan %}
    <div class="header-slogan">
        <div class="header-container">
            <h1>An educational and applied project aimed at creating an interactive website</h1>
        </div>
    </div>
{% endblock %}

{% block nav %}
    <a href="{% url 'create_protocol' %}" class="btn btn-success btn-sm">Create new protocol</a>
{% endblock %}

{% block content %}
    <div class="project_description">
        <br/>
        <h3>This is a description of a Django project.</h3>
        <br/>
        "Minutes" folder: This folder contains <b>tech files</b> that help the project work.
        <br/>
        <b>"Main"</b> folder: This folder has a subfolder called <b>"templates"</b> with two files:
        <br/>
        <b>index.html:</b> This file has a form where the user enters a document number and clicks a button.
        When the button is clicked, the corresponding document is retrieved from the MySQL database.
        If the document number is not found, an error message is displayed.
        Additionally, there is a button that takes the user to another page.
        <br/>
        <b>layout.html:</b> This is a base template used for other pages in the project.
        <br/>
        <b>"protocol" folder:</b> This folder has a subfolder called "templates" with one file:
        create_protocol.html:
        <br/>
        This file has a form that displays seven fields.
        <br/>
        When the page is loaded, the document number is displayed at the top of the form.
        <br/>
        <br/>
        <h4>There are two buttons at the bottom of the form and also link:</h4>
        <b>"Add new fields":</b> When this button is clicked, five empty fields are added to the form.
        <br/>
        <b>"Save to database":</b> When this button is clicked, the form data is saved without reloading the page.
        <br/>
        <br/>
         <b>"Download PDF":</b> You can download a document that has not been saved, even if you are not an authenticated user.
        <br/>
        However, in such cases, the document will have a watermark added to the bottom of each page.

    </div>
{% endblock %}

